h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: underline crimson;
  font-size: 200%;
}

p {
  /* text-align: center; */
  /* font-weight: 500; */
  line-height: 1.5;
  /* line-height = digunakan untuk mengubah jarak antara baris tulisan */
  letter-spacing: 1px;
  /* letter-spacing = digunakan untuk mengatur jarak antara huruf pada kalimat */
}

a {
  text-decoration: none;
  /* text decoration bisa digunakan untuk menghapus kata yang bercetak biru seperti mengarahkan ke link href */
  color: black;
}
