h1 {
  color: aquamarine;
  font-size: medium;
  font-family: sans-serif;
}

button {
  color: rgb(2, 2, 29);
  background-color: darkorange;
}

p {
  color: beige;
  background-color: black;
  font-family: sans-serif;
  text-align: justify;
}
