/* Universal selector : menggunakan tanda * */
* {
  background-color: wheat;
}

/* Seleksi bisa bersamaan dengan dipisah menggunakan koma */
h1,
h2,
h3 {
  color: rgb(4, 82, 82);
  background-color: beige;
}

li {
  color: rgb(29, 66, 53);
}

/* Penggunaann ID diawali dengan tanda # */
#list1 {
  color: olivedrab;
}

/*  Atribute ID tidak bboleh sama dengan yang lainnya, berbeda dengan penggunaan class, yang bisa digunakan secara bersamaan */

/* class diawali menggunakan . di setiap awalan class */
.style {
    color: black;
}