/* Penggunaan Decendent */

.hayo p {
  color: aquamarine;
}

/* Pseudo Class*/
/* Penggunaan Hover untuk mengubah style bawaan menjadi lebih interaktif */
.hayo > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Setiap elemen button setelah elemen a akan dikenai style css */
a + button {
  color: aquamarine;
  background-color: yellow;
}

input[type="text"] {
  color: red;
}

section button:hover {
    background-color: brown;
}

/* Pseudo Elements */
section h3::first-letter {
    font-size: x-large;
}

section h3::first-line {
    color: yellowgreen;
}
