div {
    width: 100px;
    border: 15px solid yellowgreen;
    padding: 90px;
    margin: 20px;
}

div {
    border-style: dotted;
    border-width: 5px;
    margin: 30px 40px 80px 90px;
}