h1 {
    text-align: center;
}

#container {
    background-color: aquamarine;
    width: 90%;
    height: 500px;
    margin: auto;
    border: 5px solid rgb(86, 184, 152);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#container div {
    width: 200px;
    height: 200px;
}

#background {
    background-color: rgb(79, 11, 142);
    width: 100%;
    height: max-content;
}