h1 {
    text-align: center;
    color: rgb(249, 247, 251);
    font-size: 70px;
}

#container {
    /* background-color: black; */
    width: 80%;
    height: 550px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(225, 225, 225, .7);
}

#container div {
    width: 50%;
    height: 550px;
}

.gambar {
    background-image: url("/gambar/Mob\ Psycho\ x\ Cosmic\ Garou.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#background {
    background-image: url("/gambar/alexander-grey-aKql9HqH2Xs-unsplash.jpg");
    width: 100%;
    height: 750px;
    background-size: cover;
    margin-top: 0px;
    display: flex;
}

#halamanLogin {
    color: aliceblue;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
    display: block;
    align-items: center;
    margin-left: 215px;
}

label {
    align-items: center;
    margin-left: 215px;
    margin-top: 40px;
    align-tracks: center;
}

button {
    align-items: center;
    justify-content: center;
}